@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  primary: blue;
  secondary: teal;
}


@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}

nav a.active {
  border-bottom: 2px solid #FF6306;
  background-color: none;
}